@tailwind base;
@tailwind components;
@tailwind utilities;





/* Ensure no horizontal scrollbar appears */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Disable horizontal scrolling */
}

* {
  box-sizing: border-box; /* To prevent padding/margin issues */
}

/* Optional: Remove horizontal overflow caused by elements */
body {
  overflow-x: hidden; 
}

